<h1>Editing knowledge</h1>

<% form_for(@knowledge) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :remark %><br />
    <%= f.text_field :remark %>
  </p>
  <p>
    <%= f.label :subject_id %><br />
    <%= f.text_field :subject_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @knowledge %> |
<%= link_to 'Back', knowledges_path %>