<h1>New difficulty</h1>

<% form_for(@difficulty) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :point %><br />
    <%= f.text_field :point %>
  </p>
  <p>
    <%= f.label :remark %><br />
    <%= f.text_field :remark %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', difficulties_path %>